@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');

:root
{
    --corGen1: black;
    --corGen2: white;
}
*{margin: 0px; padding: 0px;}

header
{
    background-color: var(--corGen1); height: 250px
}
header>h1
{
    color: white;  font: bold normal 136px 'Passion One', Georgia, 'Times New Roman', Times, serif;
    text-align: center; padding-top: 20px; 
}
header>p
{
    color: white;   text-align: center; font: bold 16px Verdana,Tahoma, sans-serif;
}
header>p>a
{
    color: white; font: bold 16px Verdana,Tahoma, sans-serif;
    text-decoration: none;
}
header>p>a:hover
{
    color: white; font: bold 16px Verdana,Tahoma, sans-serif;
    text-decoration: underline
}
.poesia
{
    text-align: left; color: black; background-color: white; 
 height: 640px; font: bold 47px 'Sriracha',Verdana,Tahoma, sans-serif;
 padding: 10px;
}
.poesia>p{text-align: left;}
#joaninha
{
    background-image: url('https://professorguanabara.github.io/projeto-cordel/imagens/background001.jpg');
    background-attachment: fixed;
    background-position: center center;
    color: white; padding: 20px;
}
#joaninha>div
{   background-color: black; width: 600px;
}